<form>
    <div class="output-container {{screenTheme}}">
        <h2>{{description}}</h2>
        <p>{{comparison}}</p>
    </div>
    <div id="number-grid" class="scrollable">
        {{#each numbers}}
        <button type="button" id="{{id}}" class="number-button {{#if selected}}clicked{{/if}}" data-number="{{value}}" data-action="processInput">{{value}}</button>
        {{/each}}
    </div>
</form>
