<form>
    <div class="output-container">
        {{#if description}}
        <div id="output">
            <h2>{{description}}</h2>
            <p>{{comparison}}</p>
        </div>
        {{/if}}
    </div>
    <div id="number-grid">
        {{#each numbers}}
        <button type="button" id="{{id}}" class="number-button {{#if selected}}clicked{{/if}}" data-number="{{value}}">{{value}}</button>
        {{/each}}
    </div>
</form>